@import "tailwindcss";

@theme {
    --color-atlantdarkgray: #1D2939;
    --color-atlantlightgray: #667085;
    --color-atlantdarkred: #B22222;
    --color-atlantcarbon: #1A1A1A;
    --color-atlantpale: #E4E7EC;
    --color-atlantash: #98A2B3;
}

#root {
    font-family: Urbanist, serif;
}

body {
    margin: 0;
    min-width: 230px;
}