@import "tailwindcss";

@theme {
    --color-atlantdarkgray: #1D2939;
    --color-atlantlightgray: #667085;
    --color-atlantdarkred: #B22222;
}

#root {
    font-family: Urbanist, serif;
}

body {
    margin: 0;
    min-width: 230px;
}