@import "tailwindcss";

@theme {
  --color-atlantdarkgray: #1d2939;
  --color-atlantlightgray: #667085;
  --color-atlantdarkred: #b22222;
  --color-atlantcarbon: #1a1a1a;
  --color-atlantpale: #e4e7ec;
  --color-atlantash: #98a2b3;
  --color-atlantshadow: #34405414;
  --color-atlantneutral: #fcfcfd;
  --color-atlantlightred: #b44444;
}

#root {
  font-family: Urbanist, serif;
}

body {
  margin: 0;
  min-width: 230px;
  background-color: #fcfcfd;
  width: fit-content;
}
